body {
    color: #ffffff;
    background-color: #323232;
    font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

.jumbotron {
    background-image: url("../images/background.jpg");
    margin-bottom: 60px;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
}

.jumbotron h1 {
	font-family: 'Elsie Swash Caps', cursive;
}

.jumbotron p {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 18px;
}

.col-md-4 {
	height: 150px;
	margin:auto;
	text-align: center;
	line-height: 150px;
}

.col-md-4 p {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 50px;
	letter-spacing: 3px;
	line-height: 150%;
}

#rndmNumbCol #buttnsCol {
	margin: auto;

}
